<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Item</title>
</head>
<body>
    <h2>Cadastrar Item</h2>
    <form method="POST" enctype="multipart/form-data">
        <label>Item:</label><input type="text" name="item" required><br>
        <label>Tipo:</label><input type="text" name="tipo" required><br>
        <label>Quantidade:</label><input type="number" name="quantidade" required><br>
        <label>Imagem:</label><input type="file" name="imagem"><br>
        <button type="submit">Cadastrar</button>
    </form>


</body>
</html>
